<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

    # Lindungi file .env
    <Files .env>
        Order allow,deny
        Deny from all
    </Files>

    # Lindungi file sensitive lainnya
    <Files composer.json>
        Order allow,deny
        Deny from all
    </Files>

    <Files composer.lock>
        Order allow,deny
        Deny from all
    </Files>
</IfModule>